{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        
    </style>
</head>
<body>
    <!-- Navbar (ya configurada anteriormente) -->
    <nav class="navbar navbar-expand-lg navbar-red">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="100" height="60" class="d-inline-block align-top">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agregar_producto' %}">Agregar/Modificar Producto</a>
                    </li>
                    {% endif %}
                    {% if user.is_staff %} <!-- Sólo para administradores -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_pedidos' %}">Gestión de Pedidos</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrito' %}">Ver carrito</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p>Bienvenido, {{ user.username }}!</p>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal mejorado -->
    {% block main %}

    {% endblock %}
</body>
</html>
