{% extends 'core/base.html' %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Pedidos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Correo Electrónico</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for ped in pedidos %}
            {% if ped.correo_electronico == correo %}
            {% if ped.estado == 'TRA' %}
                <script>
                    window.onload = function() {
                        Swal.fire({
                            title: '¡Hola!',
                            text: 'Tu pedido ya esta listo para retirar',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        });
                    };
                </script>
            <td>{{ ped.id }}</td>
            <td>{{ ped.nombre_cliente }}</td>
            <td>{{ ped.correo_electronico }}</td>
            <td>${{ ped.total }}</td>
            <td>{{ ped.get_estado_display }}</td>
            <td>{{ped.fecha_pedido|date:"d-m-Y H:i" }}</td>
            {%else%}
            <th>ID</th>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}