{% extends 'core/base.html' %}

{% block main %}

    <h1>Carrito de Compras</h1>
    <ul>
        {% for producto_id, detalles in carrito.items %}
            <li>
                <h2>{{ detalles.nombre }} (Cantidad: {{ detalles.cantidad }})</h2>
                <p>Precio unitario: {{ detalles.precio }} CLP</p>
                <p>Total por este producto: {{ detalles.total_producto|floatformat:2 }} CLP</p>
                <a href="{% url 'eliminar_del_carrito' producto_id %}">Eliminar del carrito</a>
            </li>
        {% endfor %}
    </ul>
    <p>Total del carrito: {{ total_carrito|floatformat:2 }} CLP</p>

    <a href="{% url 'checkout' %}">Proceder al Checkout</a>
    <a href="{% url 'lista_productos' %}">Volver a la tienda</a>

{% endblock %}